cache/*
log/*
web/uploads/*
web/sf
config/databases.yml
config/propel.ini
config/ProjectConfiguration.class.php
data/sql/*
lib/filter/doctrine/base/Base*
lib/filter/doctrine/*Plugin/base/Base*
lib/form/doctrine/base/Base*
lib/form/doctrine/*Plugin/base/Base*
lib/model/doctrine/base/Base*
lib/model/doctrine/*Plugin/base/Base*
lib/model/om/*
lib/model/map/*
*.DS_Store
*~
#*#
nbproject/private/
apps/frontend/config/ideExec.yml
apps/frontend/config/app.yml
apps/frontend/config/factories.yml
apps/backend/config/app.yml
web/frontend_dev.php
web/backend_dev.php