/* all */
body{
}
ul,li{
  list-style:none;
  padding:5px;
}
/* header */
#sf_apply_logged_in_as{
  margin: 10px;
}
#sf_apply_logged_in_as  p{
  text-align: right;
  margin: 0;
}
#sf_apply_logged_in_as p.logged_in_as_name{
  margin: 0px 50px;
  font-size: 120%;
}
#sf_apply_logged_in_as p.logged_in_as_name span{
  display: inline-block;
}
#sf_apply_logged_in_as img{
  float: left;
  text-align: left;
}
/* logout,setting button style */
#logout,#settings{
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  box-shadow: 0 0 .05em rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
  border-top: 1px solid #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.5em 2.5em;
  color: #555;

  border: 1px solid #AAA;
  background: #D1D1D1;
  background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#logout:hover,#settings:hover{
  box-shadow: 0 0 .1em rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
  background: #D1D1D1;
  background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  color: #0099FF;
}             
#logout:active,#settings:active{
  position: relative;
  top: 1px;
}   

/* tab style */
.tabrow{
  text-align: center;
  list-style: none;
  margin: 20px 0 20px;
  padding: 0;
  line-height: 24px;
  height: 26px;
  overflow: hidden;
  font-size: 12px;
  font-family: verdana;
  position: relative;
}
.tabrow li{
  border: 1px solid #AAA;
  background: #D1D1D1;
  background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  display: inline-block;
  position: relative;
  z-index: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
  text-shadow: 0 1px #FFF;
  margin: 0 -5px;
  padding: 0 20px;
}
.tabrow a{
  color: #555;
  text-decoration: none;
}
.tabrow li.selected{
  background: #FFF;
  color: #333;
  z-index: 2;
  border-bottom-color: #FFF;
}
.tabrow:before{
  position: absolute;
  content: " ";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #AAA;
  z-index: 1;
}
.tabrow li:before,
.tabrow li:after {
  border: 1px solid #AAA;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
}
.tabrow li:before{
  left: -6px;
  border-bottom-right-radius: 6px;
  border-width: 0 1px 1px 0;
  box-shadow: 2px 2px 0 #D1D1D1;
}
.tabrow li:after{
  right: -6px;
  border-bottom-left-radius: 6px;
  border-width: 0 0 1px 1px;
  box-shadow: -2px 2px 0 #D1D1D1;
}
.tabrow li.selected:before{
  box-shadow: 2px 2px 0 #FFF;
}
.tabrow li.selected:after{
  box-shadow: -2px 2px 0 #FFF;
}
.tabrow li.selected a{
  text-decoration:none;   
}

<<<<<<< HEAD
<<<<<<< HEAD
/* form style */
=======

/* form style */

>>>>>>> update style
=======
/* form style */
>>>>>>> update main.css
div#toga_login_image p img{
  display:block;
  margin:auto;
  width:30%;
  height:30%;
}
div#toga_login_footer{
  margin:50px;
}
form#sf_guard_signin,
div.sf_apply_settings,
div.sf_guard_signin,
div.sf_apply_reset_request,
div.sf_apply_reset,
div.sf_apply_apply{
  width: 50%;
  padding: 10px;
  color: #FFF;
  background: #014788;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; 
  border-radius: 10px;
  margin: 0 auto;
  
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0284fd),
    to(#001e3a)
    );
  -webkit-border-radius: 5px;
  background: -moz-linear-gradient(
    top,
    #0284fd,
    #001e3a
    );
  -moz-border-radius: 5px;
  filter:progid:DXImageTransform.Microsoft.gradient
    (startColorstr=#0284fd,endColorstr=#001e3a);
  zoom: 1;
}
form#sf_guard_signin{
  font-size:150%;
}
form#sf_guard_signin ul,
form#sf_guard_signin li,
form#sf_apply_settings_form ul,
form#sf_apply_settings_form li{
  border:0; 
  margin:0;
  padding:0;
  list-style:none;
  clear:both;
  list-style:none;
  padding-bottom:10px;
}
form#sf_guard_signin label,
form#sf_apply_settings_form label,
div.sf_guard_signin form table tbody label{
  float:left;
  cursor: pointer;
  width: 11em;
  text-align: right;
  margin-right: 0.5em;
  display: block;
}
form#sf_guard_signin li:nth-of-type(1):before{
  color : red;
  content: " *";
}
form#sf_guard_signin li:nth-of-type(2):before{
  color : red;
  content: " *";
}
form#sf_guard_signin input{
}
form#sf_guard_signin li input[type="text"],
form#sf_guard_signin li input[type="password"]{
  font-size: 100%;
}
form#sf_guard_signin li input[type="checkbox"]{
}
form#sf_guard_signin p{
  margin-left:30px;
}
form#sf_guard_signin p:nth-of-type(1){
  padding-top: 20px;
}
form#sf_guard_signin p:nth-of-type(2){
  padding-bottom: 30px;
}
form#sf_guard_signin p a{
  color:#fbb422;
  float:left;
  font-size: 80%;
}
form#sf_guard_signin li input[type="text"],
form#sf_guard_signin li input[type="password"],
form#sf_guard_signin li input[type="checkbox"],
div.sf_guard_signin input[type="text"],
div.sf_guard_signin input[type="password"],
div.sf_apply_settings input[type="text"],
div.sf_apply_settings input[type="password"],
form input[type="text"],
form input[type="password"]
{
  border: 1px solid #9ed8ff;
  padding: 5px;
  color: #140800;
  background: #eaf7f8;
  border-radius: 5px;
}
form#sf_guard_signin li input[type="submit"],
div.sf_apply_settings input[type="submit"],
div.sf_guard_signin input[type="submit"],
form input[type="submit"]{
  clear:both;
  float: right;
  font-size: 120%;
  padding: 4px 10px;
  color: #6a3721;
  cursor: pointer;
  background: #0099FF;
  border-radius: 5px;
  border:none;
  font-weight: bold;
  margin-right: 30px;
  outline: none;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fac878),
    to(#ee760f)
    );
  -webkit-border-radius: 5px;
  background: -moz-linear-gradient(
    top,
    #fac878,
    #ee760f
    );
  -moz-border-radius: 5px;
  filter:progid:DXImageTransform.Microsoft.gradient
    (startColorstr=#fac878,endColorstr=#ee760f);
  zoom: 1;
}
div.sf_apply_settings h2,
div.sf_guard_signin h1{
  color:#ffd069;
  text-shadow: 3px 3px 3px brown;
}
div.sf_apply_settings a{
  color:#ffd069;
  text-shadow: 1px 1px 1px brown;
}
form#sf_apply_settings_form li.submit_row{
  float:right;
  text-align: right;
}
div.sf_apply form#sf_apply_reset_request p,
#sf_apply_reset_form li:nth-of-type(3),
li.submit_row{
  margin-bottom: 100px;
}
ul.error_list{
  color:red;
  padding: 0px;
}
